<div class="footer">
    <div class="pull-right">
        By：<a href="http://www.zi-han.net" target="_blank">zihan's blog</a>
    </div>
    <div>
        <strong>Copyright</strong> H+ &copy; 2014
    </div>
</div>
<!-- Mainly scripts -->
<script src="./admin/js/jquery-2.1.1.min.js"></script>
<script src="./admin/js/bootstrap.min.js?v=3.4.0"></script>
<script src="./admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="./admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="./admin/js/hplus.js?v=2.2.0"></script>
<script src="./admin/js/plugins/pace/pace.min.js"></script>